## Assignment 1 (Find the largest Number)

### solution#1

In [3]:

total=int(input("total values?"))
count=0
max=None

while count<total:
    count+=1
    value=int(input(f"number#{count}? "))
    if max==None or value>max:
        max=value

print(f'highest is {max}')

total values? 5
number#1?  2
number#2?  9
number#3?  5
number#4?  4
number#5?  1

highest is 9

### Solution #2

In [4]:

total=int(input("total values?"))
count=1
max=int(input(f'number#1? '))

while count<total:
    count+=1
    value=int(input(f"number#{count}? "))
    if value>max:
        max=value

print(f'highest is {max}')

total values? 5
number#1?  4
number#2?  0
number#3?  1
number#4?  9
number#5?  2

highest is 9

### Assignment #2 Find the second largest number in given set

In [5]:

total=int(input("total values?"))

count=1
max=int(input("number#1?"))
max2=None # we don't know yet

while count<total:
    count+=1
    value=int(input(f"number#{count}? "))
    if value>max:
        max2=max
        max=value
    elif value<max and (max2==None or value>max2) :
        max2=value

if max!=max2:
    print(f'second highest is {max2}')
else:
    print(f'All values are same. No second hightest')

total values? 5
number#1? 2
number#2?  5
number#3?  1
number#4?  0
number#5?  1

second highest is 2

### Assignment #3  Find All Primes in a given range

In [6]:
def is_prime(number):
    if number<2:
        return False
    test=2
    while test<number:
        if number%test==0:
            return False
        test+=1

    return True

def find_primes(min,max):
    count=min
    while count<max:
        if is_prime(count):
            print(count,end='\t')
        count+=1

    print()

In [7]:
find_primes(0,50)

2	3	5	7	11	13	17	19	23	29	31	37	41	43	47

In [8]:
find_primes(50,100)

53	59	61	67	71	73	79	83	89	97

## Assignment 4  Week day related to current date

### Solution Flow

1. We take a reference date whose day value is known **01/01/2004** was a sunday
2. We need to find the difference%7 between our date (input) and the reference date
    * 0 ---> Sunday
    * 1 ---> Monday
    * ...
  
3. Let us divide our requirement in smaller functions


### 4.1 get_week_day_name( index)

In [17]:
def week_day_name(index):
    if index==0: return "Sunday"
    elif index==1: return "Monday"
    elif index==2: return "Tuesday"
    elif index==3: return "Wednesday"
    elif index==4: return "Thursday"
    elif index==5: return "Friday"
    elif index==6: return "Saturday"

In [18]:
week_day_name(5)

'Friday'

In [19]:
week_day_name(0)

'Sunday'

### Part 2 To find the difference we will need to know how many days each month has

In [26]:
def is_leap_year(year):
    return (year%100!=0 and year%4==0) or year%400==0

def days_in_month(month , year=1990):
    if month==2:
        return 28+int(is_leap_year(year))        
    elif (month<8 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30

In [29]:
m=1
while m<=12:
    print(days_in_month(m),end="\t")
    m+=1

print('\nleap feb', days_in_month(2,1996))

31	28	31	30	31	30	31	31	30	31	30	31
leap feb 29

### How do I find difference of input_date and ref_date?

* let us start with a base date (01/01/0000)
* and find the gap from this date

* assume current date is 30/01/1948

<pre>

01/01/0000 |------------days1----------------|(30/01/1948)
01/01/0000 |------------days2----------------|--------------------------| (01/01/2004)
                                                   (days2-days1)%7

</pre>


* let us write a function to find out **date_value** for a given date where day_value is days elapsed since beginig of time

In [82]:
def date_value(day ,month, year):
    value=0
    y=year-1
    # total days elapsed till the end of previous year
    value = y * 365 + y//4  - y//100 + y//400

    # add total days passed till previous month of this year
    m=1
    while m<month:
        #print(f'Adding {days_in_month(m,year)} for {m}/{year}')
        value+= days_in_month(m,year)
        m+=1

    #add days of this month
    value+=day
    return value


#### find week_day_name for a given date

In [83]:
def date_to_week_day(date,month,year):
    ref_date = date_value(1,1,2006)
    input_date= date_value(date,month,year)
    diff= (input_date-ref_date) % 7
    return week_day_name(diff)

In [84]:
date_to_week_day(21,9,2023)

'Thursday'

In [85]:
date_to_week_day(30,1,1948)

'Friday'

### Putting them together

In [88]:
def week_day_name(index):
    if index==0: return "Sunday"
    elif index==1: return "Monday"
    elif index==2: return "Tuesday"
    elif index==3: return "Wednesday"
    elif index==4: return "Thursday"
    elif index==5: return "Friday"
    elif index==6: return "Saturday"

def is_leap_year(year):
    return (year%100!=0 and year%4==0) or year%400==0

def days_in_month(month , year=1990):
    if month==2:
        return 28+int(is_leap_year(year))        
    elif (month<8 and month%2!=0) or (month>=8 and month%2==0):
        return 31
    else:
        return 30


def date_value(day ,month, year):
    value=0
    y=year-1
    # total days elapsed till the end of previous year
    value = y * 365 + y//4  - y//100 + y//400

    # add total days passed till previous month of this year
    m=1
    while m<month:
        #print(f'Adding {days_in_month(m,year)} for {m}/{year}')
        value+= days_in_month(m,year)
        m+=1

    #add days of this month
    value+=day
    return value

def date_to_week_day(date,month,year):
    ref_date = date_value(1,1,2006)
    input_date= date_value(date,month,year)
    diff= (input_date-ref_date) % 7
    return week_day_name(diff)