# 4 Sequence

* sequence is a group of values that can be accessed one by one using **for loop**
* The values can
      * stored (as a collection)
      * computed on the fly
      * accessed from external source

### 4.1 Stored sequences a.k.a collections

* these can be compared with
      * **stl of c++** 
      * **collection classes of java/c#**


* common methods
      * len(x) ---> returns total items in sequence
      * for-loop ---> loops through each item
      * in ---> checks if a given item is present in the sequende or not

* each sequence can have additional method or behavior that defines their purpose

## 1. List

* simlar to an array or ArrayList or vector
* It is 
      * dynamic          
      * mutable
          * append
          * pop()
          * del
          * remove()
          * indexer
      * indexed
          * supports
              * negative indexer
              * slicers
  


#### 1. createing a list

* a python list looks like simple array

In [1]:
def show_seq(seq):
    print(f'{type(seq)} #{id(seq)}: {seq}')

In [2]:
numbers=[1,2,3,4]
show_seq(numbers)

<class 'list'> #2722316366080: [1, 2, 3, 4]

#### common sequence methods

* len()
* in operator
* for loop

In [4]:
print(len(numbers))

print(3 in numbers)
print(7 in numbers)

4
True
False

### for loop

* unlike c style for loop,  python for doesnt loop from a min-max
* it loops over all the items of a sequence

In [7]:
numbers=[2,3,4,9,7]

for number in numbers:
    print(number, end=' ')

2 3 4 9 7

### simple indexer

* it is 0 based indexer
* raises error for invalid index

In [5]:
print(numbers[2])
print(numbers[1])

3
2

In [6]:
print(numbers[14])

IndexError: list index out of range

### Negative indexers in python

* In python indexer can be negative, in which case it accesses the items from the end
    * -1 ---> last item
    * -2 ---> second last item
    * -n ---> first item where n => len(seq)

In [9]:
numbers=[2,3,9,4,8]

print(numbers[-1])
print(numbers[-2])
print(numbers[-len(numbers)])

8
4
2

In [10]:
numbers[-100]

IndexError: list index out of range

### Slicers

* Slicer is a special indexer semantic that allows us to slice a sequence based on three parameters
   * start index (inclusive)
   * end index (exclusive)
   * jump/step/gap
* the three values are separated with colon
* all values are optional
      * start defaults to 0
      * end defaults to len(seq)
      * gap defaults to 1

In [13]:
numbers=[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190, 200]

show_seq(numbers)

<class 'list'> #2722322601088: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [14]:
show_seq(numbers[10:15])

<class 'list'> #2722322472704: [100, 110, 120, 130, 140]

In [15]:
show_seq(numbers[2:17:3])

<class 'list'> #2722316076864: [20, 50, 80, 110, 140]

### if we dont specify the start or end we must specify the colon

In [19]:
show_seq(numbers[:15])

<class 'list'> #2722322556288: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]

In [21]:
show_seq(numbers[::3]) # show every third item

<class 'list'> #2722322880448: [0, 30, 60, 90, 120, 150, 180]

In [23]:
show_seq(numbers[::-1]) #reverse

<class 'list'> #2722322556288: [200, 190, 180, 170, 160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [24]:
rev = numbers[::-1]
print(rev)

[200, 190, 180, 170, 160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

### Modifiers

* we can modify a list by using
    * set indexer
    * append (adds item to the end)
    * extend (adds another sequende to the end)
    * insert item in between
    * pop() removes item from a pos (default end)
    * remove() removes value form the item

In [26]:
show_seq(numbers)

<class 'list'> #2722322601088: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [27]:
numbers.pop()

200

In [28]:
show_seq(numbers)

<class 'list'> #2722322601088: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [29]:
numbers.pop(4)
show_seq(numbers)

<class 'list'> #2722322601088: [0, 10, 20, 30, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [32]:
numbers.append(200)
numbers.insert(4,400)

In [38]:
show_seq(numbers)

<class 'list'> #2722322601088: [0, 10, 20, 30, 400, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [39]:
values1=[1,2,3,4,5]
values2=[6,7,8,9,10]

In [40]:
values1.append(values2)
print(len(values1))

6

In [41]:
print(values1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [44]:
print(values1[0])
print(values1[5])

1
[6, 7, 8, 9, 10]

In [46]:
values1=[1,2,3,4,5]
values2=[6,7,8,9,10]

values1.extend(values2) # add items from sequence
print(values1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### more helpers

In [49]:
values=[2,3,9,2,6]
print(values.count(2))
print(values.count(9))
print(values.count(11))

2
1
0

### tuples

* is
  * linear
  * indexed
  * immutable sequence
* think of it like a read-only array of fixed values
* it supports
      * in
      * for
      * len()
      * indexer for reading only
          * slicer
          * negative index
* it doesn't support any mutable function like
      * append()
      * pop()


#### To create a tuple we wrap values in parentheses

In [50]:
values=(2,3,9,2,6)
show_seq(values)

<class 'tuple'> #2722323059056: (2, 3, 9, 2, 6)

In [51]:
print(values[1])
print(values[-1])
print(values[::-1])

3
6
(6, 2, 9, 3, 2)

In [52]:
print( 2 in values)
print(11 in values)
print(values.count(2))
print(values.count(11))

True
False
2
0

In [53]:
values[1]=10

TypeError: 'tuple' object does not support item assignment

In [54]:
values.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
values.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [56]:
for value in values:
    print(value,end="\t")

2	3	9	2	6

### Special cases

* Creating a tuple of 1 Item
* following code is not considered as tuple
* it is a expression sorrounded in parenthese

In [58]:
x=(20)
show_seq(x)

<class 'int'> #140705688642952: 20

#### we have to provide a trailing comma

In [59]:
x=(20,)
show_seq(x)

<class 'tuple'> #2722317850736: (20,)

### creating an empty tuple

In [60]:
x=tuple()
show_seq(x)

<class 'tuple'> #140705688700376: ()

## set

* set is
   * dynamic
   * non linear (not-indexed)
   * sequence of **unique** values
        * duplicate values are silently ignored
 
* supports
   * adding of items
   * removeing of items
   * in keyword
   * for keyword
   * len()
 
* doesn't support
   * any indexer
 
* creatdd by wrapping values in **{}**

In [61]:
items={2,3,9,2,6}

show_seq(items)

<class 'set'> #2722322034336: {9, 2, 3, 6}

In [62]:
print(2 in items)
print(11 in items)

True
False

In [63]:
for x in items:
    print(x, end='\t')

9	2	3	6

In [64]:
items.add(4)
items.add(2) # ignored
items.add(7)
items.add(9) # ignored
show_seq(items)

<class 'set'> #2722322034336: {2, 3, 4, 6, 7, 9}

In [65]:
items[0]

TypeError: 'set' object is not subscriptable

### Special set operations

* supports speical operations from arithmetic set theory
  * union
  * itersection
  * difference
  * issubset
  * isdisjoin

In [66]:
U = {1,2,3,4,5,6,7,8,9,10}
odds={1,3,5,7,9}
evens={0,2,4,6,8,10}
f5={5,10}

In [69]:
print(odds.issubset(U))
print(evens.issubset(U)) # False, even as additional 0

True
False

In [70]:
print(odds.isdisjoint(evens)) #True
print(odds.isdisjoint(f5)) # false has common 5

True
False

In [71]:
odds.union(f5) # {1,3,5,7,9,10}

{1, 3, 5, 7, 9, 10}

In [72]:
odds.intersection(f5) #{5}

{5}

In [73]:
odds.difference(f5) # all items in odds that are not present in f5

{1, 3, 7, 9}

### udpate vesion

* we have 
    * intersection_update
        * updates current set with intersection values
    * difference_update
        * updates crrent set with difference values
    * update
        * updates currents et with union values

In [74]:
odds.difference_update(f5) # odds set will updated with value

In [75]:
print(odds)

{1, 3, 7, 9}

### dict

* dictionary is
    * dynamic
    * non-linear
    * sequence of key-value pair
      * indxed on key
      * keys are unique
* support
    * for ---> to loop on keys
    * in ---> to search for keys
    * indexer ---> to get/set value for the key
 
* we create dict object by wrapping key-value pair (separated by colon) in **{}**

In [78]:
codes={ "IN":"India", "FR":"France", "JP":"Japan", 91:"India", 'UK':"United Kingdom" }
show_seq(codes)

<class 'dict'> #2722323384512: {'IN': 'India', 'FR': 'France', 'JP': 'Japan', 91: 'India', 'UK': 'United Kingdom'}

In [79]:
print('IN' in codes)
print('PK' in codes)

True
False

In [80]:
codes['DE']="Germany" # adds new key-value pair
codes['UK']="Great Britain" # updates current key with new value

show_seq(codes)

<class 'dict'> #2722323384512: {'IN': 'India', 'FR': 'France', 'JP': 'Japan', 91: 'India', 'UK': 'Great Britain', 'DE': 'Germany'}

### looping over the key value

In [81]:
for x in codes:
    print(x,end="\t")

IN	FR	JP	91	UK	DE

In [82]:
for key in codes:
    print(key, codes[key])

IN India
FR France
JP Japan
91 India
UK Great Britain
DE Germany

### we can also access keys, values, pairs separately

In [83]:
codes.keys()

dict_keys(['IN', 'FR', 'JP', 91, 'UK', 'DE'])

In [84]:
codes.values()

dict_values(['India', 'France', 'Japan', 'India', 'Great Britain', 'Germany'])

In [85]:
codes.items()

dict_items([('IN', 'India'), ('FR', 'France'), ('JP', 'Japan'), (91, 'India'), ('UK', 'Great Britain'), ('DE', 'Germany')])

### Note : each item is like a tuple

In [87]:
for item in codes.items():
    print(item[0], item[1])

IN India
FR France
JP Japan
91 India
UK Great Britain
DE Germany

#### we can also de-struct tuple values in two parts

In [88]:
for code,country in codes.items():
    print(code,country)

IN India
FR France
JP Japan
91 India
UK Great Britain
DE Germany

### Handling missing keys

* dict provides two ways to fetch value of a given key
  * indexer
      * raises error if key is not found
  * get()
    * returns a user defined default if key is not found
          * defaults to None if no user defined value is given

In [89]:
codes[91]

'India'

In [90]:
codes['PK']

KeyError: 'PK'

In [91]:
codes.get(91)

'India'

In [93]:
print(codes.get('PK'))

None

In [95]:
print(codes.get('IN','not found'))
print(codes.get('PK','not found'))

India
not found

### Special case

* we often use **string** as the key
* in case your **dict** has all **str** key during initalization we can use a special syntax
* we pass the parameter to **dict** function as key-value pair
  * Note key is not quoted
  * we are using = and not :

In [96]:
codes = dict( IN="India", JP="Japan", FR="France" )
show_seq(codes)

<class 'dict'> #2722316346944: {'IN': 'India', 'JP': 'Japan', 'FR': 'France'}