In [1]:
def divide(nr,dr):
    return nr/dr

In [2]:
divide(12,4)

3.0

### Named Parameters

* In python we can pass parameters in two different ways
    1. positional parameters
       * based on the order arguments are assigned to parameters
         * 12 is assigned to nr
         * 4 is assigned to dr
        
    2. named parameters
       * we can explcitly assign a value to a given parameter by name
       * we can do it any order, rather than using same order as defined in function

In [3]:
divide(nr=12, dr=6)

2.0

In [4]:
divide( dr=8, nr=40)

5.0

### Use Case

* This works well with default value parameters
* If some parameters have default, we can supply value for only what we want to

In [5]:
def show_info( name, email=None, phone=None):
    print(f'name={name}')
    print(f'email={email}')
    print(f'phone={phone}')

In [6]:
show_info('Sanjay', 'san@gmail.com', '11223333')

name=Sanjay
email=san@gmail.com
phone=11223333

In [7]:
# by default the second parameter goes to email
show_info('Sanjay', '22334343')

name=Sanjay
email=22334343
phone=None

In [8]:
show_info('Sanjay', phone='22334334')

name=Sanjay
email=None
phone=22334334

#### Positional Parameters

* By default a function must get exact number of parameters as required
* Passing more or less is an error
* A parameter with default is still considered as a passed parameter

In [9]:
def sum(a,b):
    return a+b

In [10]:
sum(2,3)

5

In [11]:
sum(2,3,4)

TypeError: sum() takes 2 positional arguments but 3 were given

In [12]:
sum(2)

TypeError: sum() missing 1 required positional argument: 'b'

### Variable Argument Functions (params syntax)

* sometimes we are not sure how many parameters a function need
* it may work with multiple parameters
* Example
  * How many parameters **print()** take?
* Example 2
  * We want to sum a few numbers together
 
#### Approach #1  sum a sequence of values

In [16]:
def sum( seq ):
    result=0
    for value in seq:
        result+=value
    return result

In [17]:
sum([1,2,3,4])

10

In [18]:
sum((2,9,1,8,2))

22

#### But  in print we don't pass sequence, we just pass individual values

### Variable argument function

* we can pass any number of arguments to be collected as tuple in parameter prefixed with **\***

In [20]:
def sum( *numbers) :
    print(f'{type(numbers)}={numbers}')
    result=0
    for number in numbers:
        result+=number
    return result

In [21]:
sum(1,2,3,4)

<class 'tuple'>=(1, 2, 3, 4)

10

In [22]:
sum(1,2)

<class 'tuple'>=(1, 2)

3

In [23]:
sum(1)

<class 'tuple'>=(1,)

1

In [24]:
sum()

<class 'tuple'>=()

0

### What does \* do?

* the **\*** prefix gathers all the suppplied parameters into a tuple
* Think! as if it wraps given parameters inside a tuple

### Naming convention

* python community recommends naming variable argument function as **\*args**
    * This is just a convention and not syntatical compulsion
* It is strongly recommended to always use convetion

### Assignment 4.1

* create sum function to sum a given set of variable values
* create an average function to average a given set of variable values
* the average function should reuse the sum() function to sum all the items
  * average is sum() / total items

In [25]:
def average(*args):
    return sum(args)/ len(args)

In [26]:
average(1,2,3,4)

<class 'tuple'>=((1, 2, 3, 4),)

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

## Solution (spread operator)

* A spread operator is just the opposite of params syntax*  It spreads the value of a sequence as normal comma separated value
* • You can imagine, it is taking all values out of any given sequenc* 	• Interestingly it has same syntax as para\ms* \		○ * operator in def is params
*  when used within an expression is spread

In [27]:
def average( *args) :
    return sum(*args)/len(args)

In [28]:
average(1,2,3,4)

<class 'tuple'>=(1, 2, 3, 4)

2.5

### Passing both positional and \*args parameter to a function

* we may pass both positional  and **\*args** parameter to the same function
* generally we pass **\*args** parameter at the end
* there can eb onely one **\*args** parameter in a function

In [29]:
def call_me(x,y=10,*args):
    print(f'x={x}')
    print(f'y={y}')
    print(f'args={args}')

In [30]:
call_me(1,2,3,4,5,6,7)

x=1
y=2
args=(3, 4, 5, 6, 7)

In [31]:
call_me(1,2,3)

x=1
y=2
args=(3,)

In [32]:
call_me(1,2)

x=1
y=2
args=()

In [33]:
call_me(1)

x=1
y=10
args=()

In [34]:
call_me()

TypeError: call_me() missing 1 required positional argument: 'x'

### What if we pass a positional parameter after args?

In [35]:
def call_me(x,*args,y):
    print(f'x={x}')
    print(f'args={args}')
    print(f'y={y}')

In [36]:
call_me(1,2,3) # x=1, args=(2,3), y=(not supplied)
call_me(1,2,3,4,5) # x=1, args(2,3,4,5), y=(not supplied)

TypeError: call_me() missing 1 required keyword-only argument: 'y'

### Note the error message: "required keyword-only (named) argument y"

* any argument that comes after **\*args** is no more a positional parameter
    * They are named/keyword only parameter
* must be supplied by the name

In [38]:
call_me(10, 1,2,3,4, y=30)

x=10
args=(1, 2, 3, 4)
y=30

### We can make it optional keyword-only argument by supplying a default

In [39]:
def call_me(x,*args,y=10):
    print(f'x={x}')
    print(f'args={args}')
    print(f'y={y}')

In [40]:
call_me(1,2,3,4)

x=1
args=(2, 3, 4)
y=10

In [41]:
call_me(1,2,3,4, y=100)

x=1
args=(2, 3, 4)
y=100

### Alternative Keyword Argument syntax

* The above syntax didn't work in python#2
* We have an alternative syntax with which we can pass keyword (named) parameters to a function

## **\*\*kwargs**

* now the parameter name **kwargs** is a conventional name just like **args**
* here we prefix double star **\*\***
* It will collect any given named/keyword parameters into a dictionary

In [42]:
def call_me(x,y,*args,**kwargs):
    print(f'x={x}')
    print(f'y={y})')
    print(f'args={args}')
    print(f'kwargs={kwargs}')

In [43]:
call_me(1,2,3,4)

x=1
y=2)
args=(3, 4)
kwargs={}

In [44]:
call_me(1,2,3,4, sep='\t', end='\n', color='blue')

x=1
y=2)
args=(3, 4)
kwargs={'sep': '\t', 'end': '\n', 'color': 'blue'}

In [45]:
def print_info( name, **kwargs):
    print(f'name={name}')
    for key,value in kwargs.items():
        print(f'{key}={value}')

In [46]:
print_info('Vivek Dutta Mishra')

name=Vivek Dutta Mishra

In [47]:
print_info('Vivek Dutta Mishra', email='vivek@thelostepic.com', instagram='@vivekduttamishra')

name=Vivek Dutta Mishra
email=vivek@thelostepic.com
instagram=@vivekduttamishra

### What is the difference between positional keyword parameter (after *args) and **kwargs

1. \*\*kwargs works with all python versions
    * named parameters works with python 3+
2. kwargs syntax can be used without args syntax
3. kwargs can take even unknown keys
   * positional parameters names are fixed
  
4. kwargs values are traditionally optional (as no key is fixed)
   * positional parameters may be required or optional but not unknown.

### Assignment 4.2

* rewrite histogram function to add following customizations
* customization should be passed as parameters

##### 1. we can change the **design** of the bar which defaults to '==='

<pre>
    2 | +++++ +++++ +++++ +++++ 4
    9 | +++++ 1
    11| +++++ +++++ +++++ +++++ +++++ +++++ 6
    7 | +++++ +++++ +++++ 3
</pre>

#### 2. we may want to **hide/show** the exact frequency value (default show)

<pre>
    2 | +++++ +++++ +++++ +++++ 
    9 | +++++ 
    11| +++++ +++++ +++++ +++++ +++++ +++++ 
    7 | +++++ +++++ +++++ 
</pre>


#### 3. we may want to **align** the  frequency value (default false)

* when true

<pre>
    2 | +++++ +++++ +++++ +++++              4
    9 | +++++                                1
    11| +++++ +++++ +++++ +++++ +++++ +++++  6
    7 | +++++ +++++ +++++                    3
</pre>

### Functions are Objects

* In python even a function is an object like int, str or list
* They have their own type and id

In [48]:
def sum(x,y):
    return x+y

In [49]:
sum(3,4)

7

In [50]:
print(type(sum))

<class 'function'>

In [51]:
print(id(sum))

2688141672288

#### A function name is just a reference to actual function object

* we can attach another reference to function object

In [52]:
add=sum
print(type(add))

<class 'function'>

In [53]:
add(3,4)

7

### Even a function name can refer to another type

In [54]:
sum=30
print(sum)

30

In [55]:
sum(3,4)

TypeError: 'int' object is not callable

In [56]:
add(3,4)

7

### A function has a name of it's own

* when we defined sum function we created a function with
      * name **sum()** and
      * assigned it to a reference also called sum

```ptyhon
def sum(x,y):
    return x+y
```

* when we say **add=sum**
      * a new reference add refers to function whose name is **sum**

```ptyhon
add=sum # add is a reference to function whose name is sum
```

* when we say **sum=10**
      * sum no more refers to the function. it refers to int
      * add still refers to the function whose name is **sum**

In [57]:
def sum(x,y):
    return x+y

In [58]:
print(sum.__name__)

sum

In [59]:
add=sum
print(add.__name__)

sum

In [60]:
sum=10
sum(1,2)

TypeError: 'int' object is not callable

In [61]:
print(add(1,2))
print(add.__name__)

3
sum

### We can create a list of functions

In [62]:
def plus(x,y): return x+y
def minus(x,y):return x-y
def multiply(x,y):return x*y
def divide(x,y):return x/y

In [63]:
operations=[plus,minus,multiply,divide]

In [64]:
a=50
b=15
for operation in operations:
    result=operation(a,b)
    print(result)

65
35
750
3.3333333333333335

### A function can return another function

In [66]:
def get_operator(opr):
    if opr=='+':
        return plus
    elif opr=='-':
        return minus

In [69]:
o=get_operator("+")
print(o(10,20))

o=get_operator("-")
print(o(10,20))

30
-10

### We can pass a function to another function as an argument

In [71]:
def print_greeting( name, greeter):
    message=greeter(name)
    print(message)

In [72]:
def greet_in_english(name):
    return f'Hello {name}'

def greet_in_hindi(name):
    return f'नमस्ते {name}'

In [73]:
print_greeting('Ecolab', greet_in_english)
print_greeting('Ecolab', greet_in_hindi)

Hello Ecolab
नमस्ते Ecolab

### Scope Rules

* scope rules in python are simple. There are three scopes

1. Global scope
       * a value defined in global space can be accessed (for readonly) by any function
       * we need special syntax to change it

2. Local scope
 * function defined within a function is accessible and visible only in that function

3. Closure scope
 * we will discuss it later!

#### 1. global can be accessed for "readonly" by any function

* function variable can't be accessed outside function

In [84]:
g='I am Global'

def f1():
    f1Local='I am F1Local'
    print(f'global={g}')
    print(f'f1local={f1Local}')

In [85]:
print(g)

I am Global

In [86]:
f1()

global=I am Global
f1local=I am F1Local

In [87]:
f1Local

NameError: name 'f1Local' is not defined

### 2. If we try to modify a global variable

* if we modify a variable with same name as that of global
    * function creates a local variable with same name
    * it doesn't modify the global

In [93]:
g="I am global"

def f2():
    g='Global changed by f2' # this is a local 'g' not global 'g'
    print(f'Global changed by f2 : {g}')

In [91]:
f2()

Global changed by f2 : Global changed by f2

In [92]:
g

'I am global'

### 3. If we try to read first modify later

* now since we are modifying it should be local
* a variable is created on the first assignment of value
* but we can't print a local before creating it (assigning a value)

In [94]:
g='I am global'
def f3():
    print(f'Current value of global is {g}') #g will be created in next line. can't use before creation
    g='Global changed by f3'
    print(f'New value of global is {g}')

In [95]:
f3()

UnboundLocalError: cannot access local variable 'g' where it is not associated with a value

### How to access and modify a global variable inside a function

##### IMPORTANT RECOMMENDATION
* avoid using global varaible
* They are problemetic!

### use global keyword to indicate we want to modify global
* The process is made explicit to avoid accidental modification of global

In [102]:
g="global"

def f4():
    global g # we are going to modify global
    print(f'Current value of global is {g}')
    g='Global changed by f4'
    print(f'New value of global is {g}')

In [103]:
f4()

Current value of global is global
New value of global is Global changed by f4

In [104]:
g

'Global changed by f4'

### dir()

* returns the content/members of any given object

In [106]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [107]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [108]:
x=29
x.to_bytes()

b'\x1d'